<form method="POST" action="/entranceLogin">
    <h1 class="title">Conclave</h1>
    <fieldset class="div-main">
        <p>
            <label class="lbl-common">
                ログインID
                <input class="txt-common" type="text" name="loginid" placeholder="ログインIDを入力して下さい" required>
            </label>
        </p>
        <br>
        <input id="login" type="submit" value="ログイン">
    </fieldset>
</form>
<script type="text/javascript">
     $("#login").button();   
</script>
